<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
        <th>Id:</th>
        <th>Trello id:</th>
        <th>Name:</th>
        <th>Board key</th>
        <th>#</th>
    </tr>
  </thead>

  <tbody>
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.id %></td>
      <td><%= list.trello_id %></td>
      <td><%= list.name %></td>
      <td><%= list.board_id %></td>
      <td><%= link_to "Show this list", list %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New list", new_list_path %>
<br />
<%= link_to "Back to home", root_path %>
