<p style="color: green"><%= notice %></p>
<%= link_to "New user", new_user_path %> | <%= link_to "Back to home", root_path %>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Users</h4>
  </div>
  <div class="card-body">

    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <th>Key:</th>
          <th>Token:</th>
          <th>#</th>
        </thead>
        <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.key %></td>
          <td><%= user.token %></td>
          <td><%= link_to "Show this user", user %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>