<div id="<%= dom_id analysis %>">
  <div class="row">
    <div class="col s2"><strong>Name:</strong></div>
    <div class="col s2">
      <%= analysis.name %>
    </div>
  </div>
  <div class="row">
    <div class="col s2"><strong>Board:</strong></div>
    <div class="col s2">
      <%= analysis.board_id %>
    </div>
  </div>
  <div class="row">
    <div class="col s2"><strong>Pre planning:</strong></div>
    <div class="col s2">
      <%= analysis.pre_planning %>
    </div>
  </div>
  <div class="row">
    <div class="col s2"><strong>Pos planning:</strong></div>
    <div class="col s2">
      <%= analysis.pos_planning %>
    </div>
  </div>
  <div class="row">
    <div class="col s2"><strong>Start date:</strong></div>
    <div class="col s2">
      <%= analysis.start_date %>
    </div>
  </div>
  <div class="row">
    <div class="col s2"><strong>end date:</strong></div>
    <div class="col s2">
      <%= analysis.end_date %>
    </div>
  </div>
  <div class="row">
    <div class="col s2"><strong>Status:</strong></div>
    <div class="col s2">
      <%= analysis.status %>
    </div>
  </div>
</div>

  