<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Edit this analysis", edit_analysis_path(@analysis) %> |
  <%= link_to "Back to analyses", analyses_path %>
</div>
<br />
<% analysis_content = render @analysis %>
<%= render "components/card",  content: analysis_content, title: "Analysis"%>

<% lists_table = render "components/table",  elements: @analysis.lists, headers: ["name", "trello_id", "board_id"]  %>
<%= render "components/card",  content: lists_table, title: "Lists"  %>

<% analysis_dates_table = render "analysis_dates_table", analysis: @analysis %>
<%= render "components/card",  content: analysis_dates_table, title: "Dates"  %>

<%= button_to "Destroy this analysis", @analysis, method: :delete %>