<%= form_with(model: recurrent_card) do |form| %>
  <% if recurrent_card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recurrent_card.errors.count, "error") %> prohibited this recurrent_card from being saved:</h2>

      <ul>
        <% recurrent_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :board_id, style: "display: block" %>
    <%= form.text_field :board_id %>
  </div>
  <br>
  <div class="row">
    <div class="col s6">
      <strong>Labels:</strong>
      <div>
        <% if recurrent_card.board %>
          <% recurrent_card.board.labels.each do |label| %>
            <p >
              <label>
                <%= check_box_tag "labels[]", label.id, recurrent_card.labelss.include?(label), {multiple: true } %>
                <span><%= label.name %></span>
              </label>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col s6">
      <strong>Lists:</strong>
      <div>
        <% if recurrent_card.board %>
          <% recurrent_card.board.lists.each do |list| %>
            <p >
              <label>
                <%= check_box_tag "lists[]", list.id, recurrent_card.lists.include?(list), {multiple: true } %>
                <span><%= list.name %></span>
              </label>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
