<% form_content = form_with(model: recurrent_card) do |form| %>
  <%= render "components/form-components/input_text",  form: form, field: "name"%>
  <%= render "components/form-components/input_text",  form: form, field: "board_id"%>
  <% if recurrent_card.board %>
    <div class="row">
      <div class="col s6">
        <%= render "components/form-components/check_box_list",  form: form, field: "labels", 
          element_list: recurrent_card.labels, list: recurrent_card.board.labels, list_item_value: "id", list_item_text: "name"
        %>
      </div>
      <div class="col s6">
        <%= render "components/form-components/check_box_list",  form: form, field: "lists", 
          element_list: recurrent_card.lists, list: recurrent_card.board.lists, list_item_value: "id", list_item_text: "name"
        %>
      </div>
    </div>
  <% end %>
  <%= render "components/form-components/submit",  form: form%>
<% end %>

<%= render "components/form",  form_content: form_content, element: recurrent_card%>