<div class="card" id="<%= dom_id recurrent_card %>">
  <div class="card-header">
    <h4 class="card-title">Recurrent card</h4>
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col s1"><strong>Name:</strong></div>
        <div class="col s1"><%= recurrent_card.name %></div>
    </div>
    <div class="row">
        <div class="col s1"><strong>Board Id:</strong></div>
        <div class="col s1"><%= recurrent_card.board_id %></div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Labels</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th>Id:</th>
            <th>Name:</th>
            <th>Board key</th>
            <th>#</th>
        </tr>
      </thead>

      <tbody>
      <% @recurrent_card.labelss.each do |label| %>
        <tr>
          <td><%= label.id %></td>
          <td><%= label.name %></td>
          <td><%= label.board_id %></td>
          <td><%= link_to "Show this label", label %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Lists</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th>Id:</th>
            <th>Name:</th>
            <th>Board key</th>
            <th>#</th>
        </tr>
      </thead>

      <tbody>
      <% @recurrent_card.lists.each do |list| %>
        <tr>
          <td><%= list.id %></td>
          <td><%= list.name %></td>
          <td><%= list.board_id %></td>
          <td><%= link_to "Show this list", list %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>