<div id="<%= dom_id recurrent_card %>">
 <div class="row">
      <div class="col s1"><strong>Name:</strong></div>
      <div class="col s1"><%= recurrent_card.name %></div>
  </div>
  <div class="row">
      <div class="col s1"><strong>Board Id:</strong></div>
      <div class="col s1"><%= recurrent_card.board_id %></div>
  </div>

  <h4>Labels</h4>
  <table>
  <thead>
    <tr>
        <th>Id:</th>
        <th>Name:</th>
        <th>Board key</th>
        <th>#</th>
    </tr>
  </thead>

  <tbody>
  <% @recurrent_card.labelss.each do |label| %>
    <tr>
      <td><%= label.id %></td>
      <td><%= label.name %></td>
      <td><%= label.board_id %></td>
      <td><%= link_to "Show this label", label %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
