<div id="<%= dom_id board %>">
  <div class="row">
    <div class="col s1"><strong>Id:</strong></div>
    <div class="col s1">
      <%= board.id %>
    </div>
  </div>
  <div class="row">
    <div class="col s1"><strong>Name:</strong></div>
    <div class="col s1">
      <%= board.name %>
    </div>
  </div>
  <div class="row">
    <div class="col s1"><strong>User key:</strong></div>
    <div class="col s1">
      <%= board.user_key %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">Lists</div>
      <div class="collapsible-body">
        <table>
          <thead>
            <tr>
              <th>Id:</th>
              <th>Name:</th>
              <th>Board key</th>
              <th>#</th>
            </tr>
          </thead>

          <tbody>
            <% @board.lists.each do |list| %>
              <tr>
                <td>
                  <%= list.id %>
                </td>
                <td>
                  <%= list.name %>
                </td>
                <td>
                  <%= list.board_id %>
                </td>
                <td>
                  <%= link_to "Show this list" , list %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Labels</div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Analyses</div>
      <div class="collapsible-body">
        <%= link_to "New analysis" , new_analysis_path %>
          <table>
            <thead>
              <tr>
                <th>Name:</th>
                <th>Board:</th>
                <th>Pre planning:</th>
                <th>Pos planning:</th>
                <th>Start date:</th>
                <th>end date:</th>
                <th>Status:</th>
              </tr>
            </thead>

            <tbody>
              <% @board.analyses.each do |analysis| %>
                <tr>
                  <td>
                    <%= analysis.name %>
                  </td>
                  <td>
                    <%= analysis.board_id %>
                  </td>
                  <td>
                    <%= analysis.pre_planning %>
                  </td>
                  <td>
                    <%= analysis.pos_planning %>
                  </td>
                  <td>
                    <%= analysis.start_date %>
                  </td>
                  <td>
                    <%= analysis.end_date %>
                  </td>
                  <td>
                    <%= analysis.status %>
                  </td>
                  <td>
                    <%= link_to "Show this analysis" , analysis %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>

      </div>
    </li>
    <li>
      <div class="collapsible-header">Recurrent cards</div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
  </ul>

  <br />
</div>
<script>
  M.AutoInit();
</script>