<p style="color: green"><%= notice %></p>
<%= link_to "New board", new_board_path %> | <%= link_to "Back to home", root_path %>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Boards</h4>
  </div>
  <div class="card-body">

    <div class="table-responsive">

      <table class="table">
        <thead>
          <tr>
              <th>Id:</th>
              <th>Trello id:</th>
              <th>Name:</th>
              <th>User key</th>
              <th>#</th>
          </tr>
        </thead>

        <tbody>
        <% @boards.each do |board| %>
          <tr>
            <td><%= board.id %></td>
            <td><%= board.trello_id %></td>
            <td><%= board.name %></td>
            <td><%= board.user_key %></td>
            <td><%= link_to "Show this board", board %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
