<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Back to boards", boards_path %> | <%= link_to "Execute recurrent cards", execute_recurrent_cards_boards_path(@board) %>
</div>
<br />
<%= render @board %>
<%= button_to "Destroy this board", @board, method: :delete %>

